In [1]:
#install packages
import pandas as pd
import numpy as np
import json
import requests
from io import StringIO
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient

In [23]:
# Specify the path to your JSON configuration file
config_file_path = 'config.json'

# Load the JSON configuration file
with open(config_file_path, 'r') as config_file:
    config = json.load(config_file)

# Print the configuration
connection_string = config["connectionString"]

# Set up connection string for Azure storage and container name
connection_string_azure_storage = config["connectionString"]
container_azure = 'watertoxicity'

# Initialize the BlobServiceClient
blob_service_client = BlobServiceClient.from_connection_string(connection_string_azure_storage)

# Get the container client
container_client = blob_service_client.get_container_client(container_azure)


water_toxicity_df = pd.DataFrame()

# List all blobs in the specified container
blob_list = container_client.list_blobs()
for blob in blob_list:
    print(blob.name)
    blob_client = container_client.get_blob_client(blob=blob.name)
    blob_data = blob_client.download_blob()
    blob_content = blob_data.readall().decode('utf-8')
    df = pd.read_csv(StringIO(blob_content))
    # Display the head of the DataFrame
    print(df.head())
    # If I have only one csv, I am doing the following instructions
    water_toxicity_df = df.copy()

watertoxicity.csv
                    Program                                     ParentProject  \
0  Total Maximum Daily Load  Chollas Creek Diazinon and Dissolved Metals TMDL
1  Total Maximum Daily Load  Chollas Creek Diazinon and Dissolved Metals TMDL
2  Total Maximum Daily Load  Chollas Creek Diazinon and Dissolved Metals TMDL
3  Total Maximum Daily Load  Chollas Creek Diazinon and Dissolved Metals TMDL
4  Total Maximum Daily Load  Chollas Creek Diazinon and Dissolved Metals TMDL

                                            Project  \
0  Chollas Creek Diazinon and Dissolved Metals TMDL
1  Chollas Creek Diazinon and Dissolved Metals TMDL
2  Chollas Creek Diazinon and Dissolved Metals TMDL
3  Chollas Creek Diazinon and Dissolved Metals TMDL
4  Chollas Creek Diazinon and Dissolved Metals TMDL

                    StationName StationCode                 SampleDate  \
0  Chollas Creek North Fork MLS      SD8(1)  2023-02-26 00:00:00+00:00
1  Chollas Creek North Fork MLS      SD8(1)  2023-02-26 00:00:00+00:00
2  Chollas Creek North Fork MLS      SD8(1)  2023-02-26 00:00:00+00:00
3  Chollas Creek North Fork MLS      SD8(1)  2023-02-26 00:00:00+00:00
4  Chollas Creek North Fork MLS      SD8(1)  2023-02-26 00:00:00+00:00

        CollectionTime  LocationCode  CollectionDepth UnitCollectionDepth  \
0  1899-12-30 06:58:00  Not Recorded            -88.0                   m
1  1899-12-30 06:58:00  Not Recorded            -88.0                   m
2  1899-12-30 06:58:00  Not Recorded            -88.0                   m
3  1899-12-30 06:58:00  Not Recorded            -88.0                   m
4  1899-12-30 06:58:00  Not Recorded            -88.0                   m

   ... UpstreamLength  DownstreamLength  TotalReach CalculatedValue  \
0  ...            NaN               NaN         NaN             NaN
1  ...            NaN               NaN         NaN             NaN
2  ...            NaN               NaN         NaN             NaN
3  ...            NaN               NaN         NaN             NaN
4  ...            NaN               NaN         NaN             NaN

  PercentEffect             SampleID          DW_AnalyteName  \
0           NaN  2022-W3-SD8(1)-C-01     Alkalinity as CaCO3
1           NaN  2022-W3-SD8(1)-C-01          Ammonia as NH3
2           NaN  2022-W3-SD8(1)-C-01  ElectricalConductivity
3           NaN  2022-W3-SD8(1)-C-01       Oxygen, Dissolved
4           NaN  2022-W3-SD8(1)-C-01       Oxygen, Dissolved

            DataQuality      DataQualityIndicator  Datum
0  Unknown data quality  BatchVerificationCode:NR  WGS84
1         Reject record         ResultQualCode:NR  WGS84
2  Unknown data quality  BatchVerificationCode:NR  WGS84
3  Unknown data quality  BatchVerificationCode:NR  WGS84
4  Unknown data quality  BatchVerificationCode:NR  WGS84

[5 rows x 88 columns]

/var/folders/z_/vwk5bc2d7jxd_xbknt7zmjx40000gn/T/ipykernel_98048/2047754588.py:31: DtypeWarning: Columns (25,29,44,56,59,61,63) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(StringIO(blob_content))

In [3]:
water_toxicity_df.head()
min_date = water_toxicity_df['SampleDate'].min()
max_date = water_toxicity_df['SampleDate'].max()

print(min_date)
print(max_date)

2023-01-03 00:00:00+00:00
2023-10-18 00:00:00+00:00

In [4]:
water_toxicity_df['SampleDate'] = pd.to_datetime(water_toxicity_df['SampleDate']).dt.date
water_toxicity_df['CollectionTime'] = pd.to_datetime(water_toxicity_df['CollectionTime']).dt.time
water_toxicity_df['SampleDate'] = pd.to_datetime(water_toxicity_df['SampleDate']).dt.tz_localize(None)
water_toxicity_df['UpstreamLength'] = water_toxicity_df['UpstreamLength'].fillna(0)
water_toxicity_df['TotalReach'] = water_toxicity_df['TotalReach'].fillna(0)
water_toxicity_df['DownstreamLength'] = water_toxicity_df['DownstreamLength'].fillna(0)
water_toxicity_df['CalculatedValue'] = water_toxicity_df['CalculatedValue'].fillna(0)
water_toxicity_df['PercentEffect'] = water_toxicity_df['PercentEffect'].fillna(0)
water_toxicity_df['CollectionDepth'] = water_toxicity_df['CollectionDepth'].fillna(0)
water_toxicity_df['CollectionDepth'] = np.floor(water_toxicity_df['CollectionDepth']).astype('Int64')
water_toxicity_df.head()

,Program,ParentProject,Project,StationName,StationCode,SampleDate,CollectionTime,LocationCode,CollectionDepth,UnitCollectionDepth,...,UpstreamLength,DownstreamLength,TotalReach,CalculatedValue,PercentEffect,SampleID,DW_AnalyteName,DataQuality,DataQualityIndicator,Datum
0,Total Maximum Daily Load,Chollas Creek Diazinon and Dissolved Metals TMDL,Chollas Creek Diazinon and Dissolved Metals TMDL,Chollas Creek North Fork MLS,SD8(1),2023-02-26,06:58:00,Not Recorded,-88,m,...,0.0,0.0,0.0,0.0,0.0,2022-W3-SD8(1)-C-01,Alkalinity as CaCO3,Unknown data quality,BatchVerificationCode:NR,WGS84
1,Total Maximum Daily Load,Chollas Creek Diazinon and Dissolved Metals TMDL,Chollas Creek Diazinon and Dissolved Metals TMDL,Chollas Creek North Fork MLS,SD8(1),2023-02-26,06:58:00,Not Recorded,-88,m,...,0.0,0.0,0.0,0.0,0.0,2022-W3-SD8(1)-C-01,Ammonia as NH3,Reject record,ResultQualCode:NR,WGS84
2,Total Maximum Daily Load,Chollas Creek Diazinon and Dissolved Metals TMDL,Chollas Creek Diazinon and Dissolved Metals TMDL,Chollas Creek North Fork MLS,SD8(1),2023-02-26,06:58:00,Not Recorded,-88,m,...,0.0,0.0,0.0,0.0,0.0,2022-W3-SD8(1)-C-01,ElectricalConductivity,Unknown data quality,BatchVerificationCode:NR,WGS84
3,Total Maximum Daily Load,Chollas Creek Diazinon and Dissolved Metals TMDL,Chollas Creek Diazinon and Dissolved Metals TMDL,Chollas Creek North Fork MLS,SD8(1),2023-02-26,06:58:00,Not Recorded,-88,m,...,0.0,0.0,0.0,0.0,0.0,2022-W3-SD8(1)-C-01,"Oxygen, Dissolved",Unknown data quality,BatchVerificationCode:NR,WGS84
4,Total Maximum Daily Load,Chollas Creek Diazinon and Dissolved Metals TMDL,Chollas Creek Diazinon and Dissolved Metals TMDL,Chollas Creek North Fork MLS,SD8(1),2023-02-26,06:58:00,Not Recorded,-88,m,...,0.0,0.0,0.0,0.0,0.0,2022-W3-SD8(1)-C-01,"Oxygen, Dissolved",Unknown data quality,BatchVerificationCode:NR,WGS84

In [5]:
# Load the station lookup from the provided Excel file
lookup_df = pd.read_excel('/Users/wasikulislam/Desktop/Baruch/Baruch Spring Semester 2024/CIS 4400/Cis 4400 HW /HW #2/Lookups/StationLookUp4252024214433.xlsx')
lookup_df.head()

,StationCode,StationName,StationSource,CoordinateSource,CoordinateNumber,TargetLatitude,TargetLongitude,Datum,LastUpdateDate
0,0,"0-Huntington State Beach, Orange",SCCWRP_BeachWatch,NaN,1.0,33.6293,-117.96,NaN,1900-01-01
1,0_Rapid_Microbial_2009,Rapid_Microbial_2009_0,SCCWRP_Rapid_Microbial_2009,NaN,NaN,NaN,NaN,NaN,2012-05-17
2,0000,LabQA,All,NaN,1.0,-88.0000,-88.00,NaN,2012-04-17
3,000AGRR01,Auglaize River ~7 miles SSE of Canton,DFW-ABL,GPS,1.0,-88.0000,-88.00,NAD83,2012-07-16
4,000BBC001,Big Bureau Creek 1,DFW-ABL,GPS,1.0,-88.0000,-88.00,NAD83,2014-09-04

In [6]:
# Load your lookup DataFrame, assuming lookup_df is already defined and loaded
station_lookup_df = lookup_df[['StationCode', 'StationName', 'TargetLatitude', 'TargetLongitude', 'Datum']]

# Define a rename mapping to the desired column names
rename_mapping = {
    'StationCode': 'station_id',
    'StationName': 'stationname',
    'TargetLatitude': 'latitude',
    'TargetLongitude': 'longitude',
    'Datum': 'datum'
}

# Rename the columns using the mapping
station_lookup_df.rename(columns=rename_mapping, inplace=True)

station_lookup_df = station_lookup_df.dropna()

station_dimension = station_lookup_df

# Now, let's display the first few rows to confirm the changes
station_dimension.head()

/var/folders/z_/vwk5bc2d7jxd_xbknt7zmjx40000gn/T/ipykernel_98048/2768888919.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  station_lookup_df.rename(columns=rename_mapping, inplace=True)

,station_id,stationname,latitude,longitude,datum
3,000AGRR01,Auglaize River ~7 miles SSE of Canton,-88.0,-88.0,NAD83
4,000BBC001,Big Bureau Creek 1,-88.0,-88.0,NAD83
5,000BBC002,Big Bureau Creek 2,-88.0,-88.0,NAD83
6,000BBC003,Big Bureau Creek 3,-88.0,-88.0,NAD83
7,000BBC004,Big Bureau Creek 4,-88.0,-88.0,NAD83

In [7]:
dim_sample = water_toxicity_df[['SampleID', 'SampleTypeCode', 'SampleDate', 
                             'SampleComments', 'DataQuality', 'DataQualityIndicator']]
dim_sample.head()

,SampleID,SampleTypeCode,SampleDate,SampleComments,DataQuality,DataQualityIndicator
0,2022-W3-SD8(1)-C-01,Integrated,2023-02-26,NaN,Unknown data quality,BatchVerificationCode:NR
1,2022-W3-SD8(1)-C-01,Integrated,2023-02-26,NaN,Reject record,ResultQualCode:NR
2,2022-W3-SD8(1)-C-01,Integrated,2023-02-26,NaN,Unknown data quality,BatchVerificationCode:NR
3,2022-W3-SD8(1)-C-01,Integrated,2023-02-26,NaN,Unknown data quality,BatchVerificationCode:NR
4,2022-W3-SD8(1)-C-01,Integrated,2023-02-26,NaN,Unknown data quality,BatchVerificationCode:NR

In [8]:
# Rename the columns
rename_mapping = {
    'SampleID': 'sample_id',
    'SampleTypeCode': 'sampletypecode',
    'SampleDate': 'sampledate',
    'SampleComments': 'samplecomments',
    'DataQuality': 'dataquality',
    'DataQualityIndicator': 'dataqualityindicator'
}
dim_sample.rename(columns=rename_mapping, inplace=True)

# Drop rows with NaN values across the selected columns
dim_sample.dropna(inplace=True)

# Display the first few rows of the resulting DataFrame
dim_sample.head()

/var/folders/z_/vwk5bc2d7jxd_xbknt7zmjx40000gn/T/ipykernel_98048/958265041.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_sample.rename(columns=rename_mapping, inplace=True)
/var/folders/z_/vwk5bc2d7jxd_xbknt7zmjx40000gn/T/ipykernel_98048/958265041.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_sample.dropna(inplace=True)

,sample_id,sampletypecode,sampledate,samplecomments,dataquality,dataqualityindicator
389,DRMP_CENT-009_2023-08-10,Grab,2023-08-10,Resample Event for Pesticide; Babcock and all ...,Extensive review needed,QACode:TOQ
390,DRMP_CENT-009_2023-08-10,Grab,2023-08-10,Resample Event for Pesticide; Babcock and all ...,Extensive review needed,QACode:TOQ
391,DRMP_CENT-009_2023-08-10,Grab,2023-08-10,Resample Event for Pesticide; Babcock and all ...,Extensive review needed,QACode:TOQ
392,DRMP_CENT-009_2023-08-10,Grab,2023-08-10,Resample Event for Pesticide; Babcock and all ...,Extensive review needed,QACode:PRM
393,DRMP_CENT-009_2023-08-10,Grab,2023-08-10,Resample Event for Pesticide; Babcock and all ...,Extensive review needed,QACode:PRM

In [9]:
analyte_lookup_df = pd.read_excel('/Users/wasikulislam/Desktop/Baruch/Baruch Spring Semester 2024/CIS 4400/Cis 4400 HW /HW #2/Lookups/AnalyteLookUp427202411617.xlsx')

analyte_lookup_df.head()

,AnalyteName,AnalyteDescr,CASNumber,Group1,Group2,Group3,Group4,AnalyteType1,AnalyteType2,LastUpdateDate
0,Chemical Group A,"Total of (Aldrin,Dieldrin,Endrin,Heptachlor,He...",0,Organics,Pesticides,NaN,NaN,NaN,NaN,2016-05-20
1,"[(Methylimino)dimethylidyne]di-2,4-xylidine, N...","N,N'-[(Methylimino)dimethylidyne]di-2,4-xylidi...",0,Organics,Pesticides,Insecticides,NaN,NaN,NaN,2017-04-04
2,[DAsp3]Microcystin-RR,[Deaspartic acid3] Microcystin-RR,0,NaN,NaN,NaN,NaN,NaN,NaN,2019-05-17
3,"1,2-bis(2,4,6- tribromophenoxy)ethane","1,2-bis(2,4,6- tribromophenoxy)ethane (BTBPE)",37853591,Organics,FlameRetardants,NaN,NaN,NaN,NaN,2014-03-13
4,"1,2-Dibromo-4-(1,2-dibromoethyl)cyclohexane","1,2-Dibromo-4-(1,2-dibromoethyl)cyclohexane (D...",3322938,Organics,FlameRetardants,NaN,NaN,NaN,NaN,2014-03-13

In [10]:
# Define the columns that we need to keep based on your 'dim_analyte' structure
required_columns = ['AnalyteName', 'AnalyteDescr', 'Group1', 'Group2', 'Group3', 'Group4', 'LastUpdateDate']

# Drop columns that are not required
analyte_lookup_df = analyte_lookup_df[required_columns]

# Drop rows with any NaN values in the required columns
analyte_lookup_df.dropna(inplace=True)

# Rename the columns to match the 'dim_analyte' structure
rename_mapping = {
    'AnalyteName': 'analyte_id',
    'AnalyteDescr': 'analytedescr',
    'Group1': 'group1',
    'Group2': 'group2',
    'Group3': 'group3',
    'Group4': 'group4',
    'LastUpdateDate': 'analytedate'
}
analyte_lookup_df.rename(columns=rename_mapping, inplace=True)

# The 'analyte_lookup_df' is now your 'dim_analyte' dimension table
dim_analyte = analyte_lookup_df

# Display the first few rows of 'dim_analyte' to check the structure
dim_analyte.head()

,analyte_id,analytedescr,group1,group2,group3,group4,analytedate
15,6-Pack Ring,6-Pack Ring,Debris,Trash,Plastics,FoodService,2014-11-04
28,Acenaphthene,Acenaphthene,Organics,PAHs,SVOCs,LMW_PAH,2007-07-27
29,Acenaphthene-d10(Surrogate),Surrogate: Acenaphthene-d10,Organics,PAHs,SVOCs,LMW_PAH,2016-03-02
31,Acenaphthylene,Acenaphthylene,Organics,PAHs,SVOCs,LMW_PAH,2007-07-27
54,Acrylic fiber,"Acrylic fiber, that can be grouped under plast...",Microdebris,Anthropogenic,Plastics,Fiber,2018-04-26

In [11]:
required_columns = [
    'CollectionMethodName', 'CollectionTime', 'CollectionDepth', 
    'CollectionDeviceDescription', 'PositionWaterColumn'
]

# Replace the placeholder column names with the actual column names from your dataset
collection_data_df = water_toxicity_df[required_columns]

collection_data_df.dropna(inplace=True)

# Rename the columns to match the 'dim_collection' structure
# Replace the placeholder column names with the actual column names from your dataset
rename_mapping = {
    'CollectionMethodName': 'collection_id',
    'CollectionTime': 'collection_time',
    'CollectionDepth': 'collectiondepth',
    'CollectionDeviceDescription': 'collectiondevice',
    'PositionWaterColumn': 'positionwatercolumn'
}
collection_data_df.rename(columns=rename_mapping, inplace=True)



# The 'collection_data_df' is now your 'dim_collection' dimension table
dim_collection = collection_data_df

# Display the first few rows of 'dim_collection' to check the structure
dim_collection.head()

/var/folders/z_/vwk5bc2d7jxd_xbknt7zmjx40000gn/T/ipykernel_98048/4011843175.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  collection_data_df.dropna(inplace=True)
/var/folders/z_/vwk5bc2d7jxd_xbknt7zmjx40000gn/T/ipykernel_98048/4011843175.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  collection_data_df.rename(columns=rename_mapping, inplace=True)

,collection_id,collection_time,collectiondepth,collectiondevice,positionwatercolumn
0,24 hour auto sampler,06:58:00,-88,Not Recorded,Not Recorded
1,24 hour auto sampler,06:58:00,-88,Not Recorded,Not Recorded
2,24 hour auto sampler,06:58:00,-88,Not Recorded,Not Recorded
3,24 hour auto sampler,06:58:00,-88,Not Recorded,Not Recorded
4,24 hour auto sampler,06:58:00,-88,Not Recorded,Not Recorded

In [41]:
import calendar

def week_of_month(dt):
    year = dt.year
    month = dt.month
    day = dt.day
    cal = calendar.monthcalendar(year, month)
    for i, week in enumerate(cal):
        if day in week:
            return i + 1

start_date = pd.to_datetime('2023-01-03')
end_date = pd.to_datetime('2023-10-18')

# Create a DataFrame for the date dimension
date_dimension = pd.DataFrame({'date': pd.date_range(start_date, end_date, freq='H')})

# Extract attributes
date_dimension['year_number'] = date_dimension['date'].dt.year
date_dimension['quarter_number'] = date_dimension['date'].dt.quarter
date_dimension['month_number'] = date_dimension['date'].dt.month
date_dimension['monthName'] = date_dimension['date'].dt.strftime('%B')
date_dimension['daynumber'] = date_dimension['date'].dt.day
date_dimension['dayName'] = date_dimension['date'].dt.strftime('%A')
date_dimension['hour_number'] = date_dimension['date'].dt.hour
date_dimension['date_iso_format'] = date_dimension['date'].apply(lambda x: x.isoformat())
date_dimension['date_id'] = date_dimension['date'].dt.strftime('%Y%m%d%H')

# Add week of the month and week of the year
date_dimension['weekofMonth'] = date_dimension['date'].apply(week_of_month)
date_dimension['weekofYear'] = date_dimension['date'].dt.strftime('%U')

# Set the new order for columns
new_order = ['date_id', 'date_iso_format', 'year_number', 'quarter_number', 'month_number',
             'daynumber', 'hour_number', 'monthName', 'dayName', 'weekofYear', 'weekofMonth']
date_dimension = date_dimension[new_order]

# Display the first 25 rows
date_dimension.head(25)
water_toxicity_df['date_id'] = date_dimension['date_id']

In [26]:
# Assuming 'water_toxicity_df' is your DataFrame
# Check for missing values and fill them if necessary
water_toxicity_df['Dilution'].fillna(100, inplace=True)  # Assuming no dilution as 100%

# Normalize PercentEffect by the Dilution factor
water_toxicity_df['NormalizedEffect'] = (water_toxicity_df['PercentEffect'] / water_toxicity_df['Dilution']) * 100

# Define a function to categorize the results based on EvalThreshold
def categorize_effect(row):
    if row['PercentEffect'] > row['EvalThreshold']:
        return 'Above Threshold'
    else:
        return 'Below Threshold'

# Apply the function to create a new Result column
water_toxicity_df['Result'] = water_toxicity_df.apply(categorize_effect, axis=1)
print(water_toxicity_df['Result'])

0        Below Threshold
1        Below Threshold
2        Below Threshold
3        Below Threshold
4        Below Threshold
              ...
31067    Below Threshold
31068    Below Threshold
31069    Below Threshold
31070    Below Threshold
31071    Below Threshold
Name: Result, Length: 31072, dtype: object

In [42]:
# Create FactID column
water_toxicity_df['FactID'] = range(1, len(water_toxicity_df) + 1)

# Rename columns
new_column_names = {
    'StationCode': 'station_id',
    'SampleID': 'sample_id',
    'AnalyteName': 'analyte_id',
    'CollectionMethodName': 'collection_id',
    'date_id': 'date_id',
    'SigEffectCode': 'percenteffect',
    'CalculatedValue': 'calculatedvalue',
    'EvalThreshold': 'evalthreshold',
    'Dilution':'dilution',
    'Result':'result',
    
    
}

water_toxicity_df = water_toxicity_df.rename(columns=new_column_names)

# Define the columns
required_columns = ['station_id', 'sample_id', 'analyte_id', 'collection_id','date_id','percenteffect','calculatedvalue','evalthreshold','dilution','result']

# Check if the columns exist in the DataFrame before reordering
columns_to_order = ['station_id', 'sample_id', 'analyte_id', 'collection_id','date_id','percenteffect','calculatedvalue','evalthreshold','dilution','result']
existing_columns = [col for col in columns_to_order if col in water_toxicity_df.columns]

# Reorder columns
water_toxicity_df = water_toxicity_df[existing_columns]
# Add a 'FactID' column as a sequence starting from 1
water_toxicity_df['FactID'] = range(1, len(water_toxicity_df) + 1)

# Replace NaN values with zeros in 'percenteffect' column
water_toxicity_df['percenteffect'].fillna(0, inplace=True)
water_toxicity_df['calculatedvalue'].fillna(0, inplace=True)
water_toxicity_df['evalthreshold'].fillna(0, inplace=True)  


# Display the DataFrame
water_toxicity_df.head()

,station_id,sample_id,analyte_id,collection_id,date_id,percenteffect,calculatedvalue,evalthreshold,dilution,result,FactID
0,SD8(1),2022-W3-SD8(1)-C-01,1,24 hour auto sampler,2023010300,0,0.0,0.0,100.0,Below Threshold,1
1,SD8(1),2022-W3-SD8(1)-C-01,1,24 hour auto sampler,2023010301,0,0.0,0.0,25.0,Below Threshold,2
2,SD8(1),2022-W3-SD8(1)-C-01,1,24 hour auto sampler,2023010302,0,0.0,0.0,50.0,Below Threshold,3
3,SD8(1),2022-W3-SD8(1)-C-01,1,24 hour auto sampler,2023010303,0,0.0,0.0,25.0,Below Threshold,4
4,SD8(1),2022-W3-SD8(1)-C-01,1,24 hour auto sampler,2023010304,0,0.0,0.0,50.0,Below Threshold,5

In [ ]:
import pyodbc

# Generic Functions
def create_string(length):
    if isinstance(length, int) and length > 0:
        result_string = "(" + "?," * (length - 1) + "?)"
        return result_string

def insert_data(table_name, df):
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()
    result = create_string(len(df.columns))
    # Insert data into the table
    insert_query = f"INSERT INTO {table_name} VALUES {result}"
    print(insert_query)
    cursor.executemany(insert_query, df.values.tolist())
    conn.commit()
    conn.close()